<%include ./partials/header%>
<div class="ui main text container">
  <div class="ui huge header" id="head">HOMOSAPIENT</div>
  <div class="ui top attatched segment">
    <div class="ui divided items">
      <% blogs.forEach((blog)=>{%>
      <div class="item">
        <div class="image">
          <img src="<%=blog.image%>" alt="" />
        </div>
        <div class="content">
          <a class="header" href="/blogs/<%=blog._id%>" id="h1"
            ><%=blog.title%></a
          >
          <div class="meta"><span><%=blog.created.toDateString()%></span></div>
          <div class="description">
            <p><%-blog.body.substring(0,100)%>...</p>
          </div>
          <div class="extra">
            <a
              href="/blogs/<%=blog._id%>"
              class="ui floated basic violet button"
            >
              Read more</a
            >
          </div>
        </div>
      </div>

      <%})%>
    </div>
  </div>
</div>
</body>
<%include ./partials/footer%>
